@{
    ViewData["Title"] = "En Construccion";
}

<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>En Construccion</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Construccion</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
    <h2 class="headline text-info"> 404</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Pagina en <b>Construccion</b>.</h3>

        <p>
        La pagina que buscas esta en desarrollo.
        Mientras tanto, puede volver al <a asp-action="Index" asp-controller="Home">Inicio</a> o intentar usar el formulario de búsqueda.
        </p>

        <form class="search-form">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search">

            <div class="input-group-append">
            <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
            </button>
            </div>
        </div>
        <!-- /.input-group -->
        </form>
    </div>
    <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>